################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Practice/.vs/Practice/v16
/Practice/Practice/obj
/Practice/Middleware/obj/Debug/netcoreapp3.1
/Practice/Middleware/obj
/Practice/Practice/bin/Debug/netcoreapp3.1
/Practice/.vs/Practice/config
/Practice/.vs/Practice/DesignTimeBuild
/.vs
/Practice/Filters/bin/Debug/netcoreapp3.1
/Practice/Filters/obj
